#signup-modal {
  /* Sign up modal, to register an user */
  width: 620px !important;
  max-width: 620% !important;
  height: 650px;
  max-height: 650px;
  padding: 3em 3em 5em 2em;
  margin: 0 auto;
  margin-top: 3%;
  position: relative;
  z-index: 100;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; }
  #signup-modal #signup {
    position: relative; }
  #signup-modal .row {
    /* all the signup rows */
    margin: 0; }
    #signup-modal .row small.formNotValid {
      /* Error sms when <form> is NOT valid for password label*/
      color: red !important;
      font-style: italic !important;
      margin-left: 1em !important; }
    #signup-modal .row label {
      /* all the signup labels */ }
      #signup-modal .row label legend {
        /* all the signup titles */
        color: #333;
        font-size: 14px;
        margin: 0 !important; }
        #signup-modal .row label legend small.formNotValid {
          /* Error sms when <form> is NOT valid */
          color: red !important;
          font-style: italic !important;
          margin-left: 1em !important; }
      #signup-modal .row label select,
      #signup-modal .row label input {
        /* all the signup input */
        border: 1px solid #af8441 !important;
        height: 32px;
        padding: 3px 7px;
        border: none;
        background: #fff;
        background: linear-gradient(to bottom, #f5f5f5 0%, #fff 100%);
        margin: 0 !important; }
    #signup-modal .row p.help-text {
      /* text to help the username field */
      margin-top: 0 !important; }
      #signup-modal .row p.help-text small {
        font-style: none; }
  #signup-modal #confirm {
    margin-top: 2em; }
    #signup-modal #confirm input,
    #signup-modal #confirm p {
      display: inline !important; }
    #signup-modal #confirm p {
      font-size: 12px; }
  #signup-modal input#signup-confirm-btn {
    /* sign up button form -->submit */
    width: 100%;
    text-transform: uppercase;
    display: block;
    height: 54px;
    line-height: 0.5;
    padding: 15px 30px 16px;
    background: linear-gradient(to bottom, rgba(161, 34, 0, 0) 0%, #a12200 100%);
    border: 2px solid #a29361;
    background-color: #ea7a00;
    border-radius: 3px;
    transition: background-color .2s ease-out;
    color: white;
    font-weight: 700;
    color: #fdecce;
    font-size: 1.3em;
    font-family: 'BeaufortforLOL', serif; }
  #signup-modal span#close-signup-modal {
    /*button to close signup modal*/
    width: 100%;
    margin-top: 0.5em;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 9px 30px 11px;
    height: 54px;
    border-color: #187277 #3a6668 #0e3f41;
    padding: 15px 30px 16px;
    border-radius: 3px;
    transition: background-color .2s ease-out;
    font-weight: 700;
    border: 1px solid;
    border-color: #187277 #3a6668 #0e3f41;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.75em 0px;
    background: linear-gradient(#215f62, #0a2021);
    color: #fdecce;
    font-family: 'BeaufortforLOL', serif; }
  #signup-modal span#close-signup-modal:hover {
    /* Hover efect */
    cursor: pointer; }