/* Contact toggle modal container */
aside#modal-menu{
	width: 100%;
	max-width: 100%;
	height: 100%;
	display: none;
	background-image: url('../img/background/contact.jpg');
	position: absolute;
	top:0;
	left:0;
	right:0;
	overflow: hidden;	
}
nav#navigator{
	padding: 5% 0 0 0 ;
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
	/* Button to close the modal */
	i#contact-modal-close{
		position: absolute;
		top:0;
		right: 50px;
		font-size: 3em;
		color: #2E1742;
	}
	/* KeyFrame to spin the 'X' */
	@-ms-keyframes spin {
	    from { -ms-transform: rotate(0deg); }
	    to { -ms-transform: rotate(360deg); }
	}
	@-moz-keyframes spin {
	    from { -moz-transform: rotate(0deg); }
	    to { -moz-transform: rotate(360deg); }
	}
	@-webkit-keyframes spin {
	    from { -webkit-transform: rotate(0deg); }
	    to { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	    from {transform:rotate(0deg);}
	    to {transform:rotate(360deg);}
	}
	i#contact-modal-close:hover{
		cursor: pointer;
		-webkit-animation-name: spin;
	    -webkit-animation-duration: 2000ms;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-timing-function: linear;
	    -moz-animation-name: spin;
	    -moz-animation-duration: 2000ms;
	    -moz-animation-iteration-count: infinite;
	    -moz-animation-timing-function: linear;
	    -ms-animation-name: spin;
	    -ms-animation-duration: 2000ms;
	    -ms-animation-iteration-count: infinite;
	    -ms-animation-timing-function: linear;
	    
	    animation-name: spin;
	    animation-duration: 2000ms;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
	}
	/* Contact slogan: hope you enoyed; */
	h1#contact-slogan,
	p#contact-text{
		text-align: center;
		color: #2E1742;
	}
	/* Slogan */
	h1#contact-slogan{
		font-size: 3em;
		font-weight: bold;
		font-family: 'Crafty Girls', cursive;	
	}
	p#contact-text{
		font-family: 'Raleway', sans-serif;
		font-weight: 200;
		letter-spacing: 2px;
	}
	/* Contact form */
	form#contact-form{
		width: 30%;
		max-width: 30%;
		margin: 0 auto;
		margin-top: 5%;
	}
		/* Denny the resize */
		textarea#contact-message{
			resize: none;
			height: 150px;
		}
		/* Submit button */
		form#contact-form input#contact-confirm-btn{
			width: 100%;
		    max-width: 100%;
		    font-weight: bold;
		    height: 50px;
		    margin-top: 5%;
		    color: #2E1742;
		    font-size: 2em;
		    background: #543e67;
		    border: none;
		    border-bottom: 5px solid #2E1742;
		    text-transform: uppercase;
		}
		/* Form footer: check my website */
		footer#contact-footer > p{
			text-align: center;
			margin-top: 1%;
			color: #2E1742;
		}
