header#presentation{
	background-color: #F89406;
    background-image: url('../img/background/pattern.png');
    width: 100%;
    max-width: 100%;
    background-size: cover;
    position: relative;
    background-repeat: none;
    padding: 10em 0;
    border-bottom: 5px solid;
}
	#presentation h1{
		text-align: center;
		color: white;
		font-weight: bold;
		font-family: 'Crafty Girls', cursive;	

	}