*,h1,h2,h3,h4,h5,
p,small,span{
	font-family: "Roboto", sans-serif;
	}

div.title-bar{
	display: none;
	background: white;
	border-bottom: 5px solid black;
	color: black;
}
	#toggle-icon{
		color: black !important;
		font-size: 1em;
		margin-right: 1em;
	}
	#toggle-icon:hover{
		cursor: pointer;
	}

#content{
	display: none;
}
	#content h3{
		text-align: center;
	    font-size: 32px;
	    color: #333030;
	    font-weight: 700;
	    margin-top: 3em;
		margin-bottom: 1em;
	}
	#content > p{
		margin: 0 auto;
		margin-bottom: 5em;
		width: 50%;
		max-width: 50%;
		text-align: center;
		font-weight: 200;
	}
	#content > section{
		width: 40%;
		max-width: 40%;
		margin: 0 auto;
	}
	#content nav.options-row button{	/* pestañas de demo/download */
		color: #FFFFFF;			/* color blanco */
		background: #ff7473;	/* Color salmon */
		border: 0 none;
		border-radius: 24px;
		height: 50px;
			  
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;

		flex: 0 0 160px;

		text-align: center;
		line-height: 1.3;
		font-size: 1.5em;
		text-transform: none;

		font-weight: 500;

		transition: all 60ms ease-in-out;
	}
	#content nav.options-row button:hover {	
		opacity: .95;
		transition: all 60ms ease;
	}

	#content nav.options-row button:active {
		opacity: .75;
		transform: scale(.97);
		transition: all 60ms ease;
	}
	#content nav.options-row button.-border{	/* clase del button que no está activo */
		background: transparent;
		border: 2px solid #ff7473;	/* color salmon */
		color:  #ff7473;			/* color salmon */
		border-bottom-width: 5px;
	}
	#content nav.options-row button.-border:hover{
		border-bottom-width: 2px;
		border-top-width: 5px;
	}
	#content section#downloads{
	}



